.form-container {
  padding: 32px;
}

.card-container {
  margin-top: 50px;
  margin-bottom:50px;
}

.card-header {
  background-color: #029341;
  color: white;
}

.button-add_item {
  margin-top:20px ;
  margin-bottom: 30px;
}

.buttonRemove {
  background-color: transparent;
  border: none;
}

.buttonRemove:hover {
  background-color: rgb(250, 7, 27);
  border: none;
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
@media(max-width: 768px) {
.modal-dialog {
  min-height: calc(100vh - 20px);
}
}